* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.app-title {
    background-color:  #ccc;
    color: white;
    font-size: 20px;
    padding: 40px;
}

.content {
    padding: 20px;
}