* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: #DEDEDE;
}

.app-title {
    background-color: #308DDB;
    color: white;
    font-size: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.ajax-loader {
    position: relative;
    color: white;
    margin-right: 40px;
}

.container {
    padding: 20px;
}
.container .block {
    background-color: white;
    margin-bottom: 15px;
    padding: 15px;
}
.container .block:last-child {
    margin-bottom: 0;
}


#builds-wrapper .title {
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    text-align: left;
}
#builds-wrapper .build-data-wrapper {
    padding: 8px 10px;
    height: 22px;
    vertical-align: middle;
    text-align: left;
}
#builds-wrapper .build-data-wrapper {
    min-width: 120px;
}
#builds-wrapper .build-data-wrapper.build-wrapper {
    width: 300px;
}
#builds-wrapper .build-data-wrapper select {
    width: 100%;
}